.whipText :nth-child(2){
    -webkit-animation-delay:25ms;
    animation-delay:25ms;
}
.whipText :nth-child(3){
    -webkit-animation-delay:50ms;
    animation-delay:50ms;
}
.whipText :nth-child(4){
    -webkit-animation-delay:75ms;
    animation-delay:75ms;
}
.whipText :nth-child(5){
    -webkit-animation-delay:.1s;animation-delay:.1s
}
.whipText :nth-child(6){
    -webkit-animation-delay:125ms;animation-delay:125ms
}
.whipText :nth-child(7){
    -webkit-animation-delay:150ms;animation-delay:150ms
}
.whipText :nth-child(8){
    -webkit-animation-delay:175ms;animation-delay:175ms
}
.whipText :nth-child(9){
    -webkit-animation-delay:.2s;animation-delay:.2s
}
.whipText :nth-child(10){
    -webkit-animation-delay:225ms;animation-delay:225ms
}
.whipText:hover>*{
    -webkit-animation-name:whipText;
    animation-name:whipText;
    -webkit-animation-duration:225ms;
    animation-duration:225ms;
    -webkit-animation-timing-function:ease-in;
    animation-timing-function:ease-in;
    -webkit-animation-iteration-count:1;
    animation-iteration-count:1
}
@-webkit-keyframes whipText{ 
    0%{-webkit-transform:skewY(0);transform:skewY(0)}
    25%{-webkit-transform:skewY(10deg) translateY(-5px);transform:skewY(10deg) translateY(-5px)}
    50%{-webkit-transform:skewY(0) translateY(-10px);transform:skewY(0) translateY(-10px)}
    75%{-webkit-transform:skewY(-10deg) translateY(-5px);transform:skewY(-10deg) translateY(-5px)}
    100%{-webkit-transform:skewY(0) translateY(0);transform:skewY(0) translateY(0)}
}
@keyframes whipText{ 
    0%{-webkit-transform:skewY(0);transform:skewY(0)}
    25%{-webkit-transform:skewY(10deg) translateY(-5px);transform:skewY(10deg) translateY(-5px)}
    50%{-webkit-transform:skewY(0) translateY(-10px);transform:skewY(0) translateY(-10px)}
    75%{-webkit-transform:skewY(-10deg) translateY(-5px);transform:skewY(-10deg) translateY(-5px)}
    100%{-webkit-transform:skewY(0) translateY(0);transform:skewY(0) translateY(0)}
}
